.MicroApp {
    box-sizing: border-box;
    margin: auto;
    padding: 30px;
    width: 95%;
    font-family: sans-serif;
    text-align: center;
}

.MicroApp input {
  height: 34px;
  border-radius:6px;
  border: 2px solid gray;
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.trash-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.mainHeader{
  margin-bottom: 60px;
  font-weight: 800;
}
.addHeader{
  font-weight: 600;
  margin: 20px;
  font-size: 18px;
  color: rgb(52, 149, 218);
}
.deleteNotavailable{
  margin: 80px;
  font-size: 18px;
  font-weight: 600;
  color: red;
}
.deleteHeader{
  font-weight: 600;
  margin: 20px;
  font-size: 18px;
  color: red;
}
.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}